.navcontainer {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: sticky;
  top: 0px;
  height: 70px;
  width: 100%;
  background-color: #36454f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
}

.nav-content-left {
  display: flex;
  align-items: center;
  width: 75%;
  margin-left: 75px;
}

.logo {
  font-size: 40px;
  margin-right: 15px;
  color: rgb(255, 255, 255);
}

.logo_title {
  font-size: 25px;
  font-weight: 700;
}

.nav_content-right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}